
:root {
  --hue: 210;
  --color-100: hsl(var(--hue), 40%, 15%);
  --color-200: hsl(var(--hue), 40%, 25%);
  --color-300: hsl(var(--hue), 40%, 40%);
  --color-400: hsl(var(--hue), 40%, 45%);
  --color-900: hsl(var(--hue), 40%, 90%);
  --color-950: hsl(var(--hue), 40%, 95%);
}

body {
  margin: 0;
  background-color: var(--color-200);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button, input {
  font-family: inherit;
}

